<pre>
                            ,a#p
                        a#M|, ,7%#Q
                    .##Qr         *7%#p
                    /*{*/#J3%#m,       |7Wmp
                    `|%#m|7%#m           |%#m,
        ,g               j3@Mp|7%#Q          `3%#m
    a#M||3@Wg              ]#7@Npj5@#p          |7%#Q
a#M\*       j7@mp          ]#   |%#mp|7@mp          j7Wmp
j#%#m            7%#m,      ]#      ^7@##7h          ,a#W@~
j#  '|%#m           '7%#m   ]#    ,s#W7           s#M||s @~
j#      *3WNp           |7%###,s#M\~          a#M7jy#M\@ @~
j#          |7Wmp           |37|          ;##T|;e#C|   @ @~
j#              |%Wm,                 ,s#C|;s#C|       @ @~
j#     ;,           7%#m          ,s#W7,s#M|~          @ @~
j#     @#%#w           ^7%#m   a#M7|;#MT|              @ @~
j#     @# #b7%#p           +7#7);e#T|                  @ @~
j#     @# #b   |5@mp         # j#WMp                   @ @~
j#     @# #b      s##        # jb  37@Np               @ @~
j#     @# #b  g##57.#~       # jb      75#m,           @ @~
j#     @# ###O7     #~       # jb         ~7%#m        @ @~
j#     @# #b        #        # jb             |3%Mm    @ @~
j#     @# #=        #        # jb                 |5@Mp@ @~
j#     @# #=        #        # @b                   ,s#5 @~
 |3%mg @# #=        #        # jb               ,s#b|a#M7\
     j7@##%         #        # @b            s#M7;##7|
                    #        # @b        s#M7;s#57
                    #        # @b    ;#M7js#57
                    #,       # @b;##7}s#M|.
                    |7@mp    # 8C|;##3\
                        |5@mJ#p##5h
                            |5h
</pre>
