<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Distributed Gallery</title>
    <meta name="description" content="Distributed Gallery" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>
    <title>{{ config.extra.website_title}}</title>
  <body>
    <div class="container">
      {% block header %}{% include "header.html" %}{% endblock header %}
      {% block content %}{{ section.content | safe }}{% endblock content %}
    </div>
  </body>
</html>
